.allh-container {
    background-color: rgb(27, 27, 27);
    height: 60px;
}

.logo {
    font-size: 1rem;
    color: white;
    margin-left: 1rem;
}

.btn-container {
    height: 20px;
    margin-right: 1rem;
}

.left-container {
    height: 600px;
    background-color: lightgray;
    width: 300px;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    margin-top: 1rem;
}

.user {
    color: white;
    margin-top: 1rem;
}

.link {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

.link:hover {
    background-color: gray;
    width: 200px;
}

.card {
    background-color: gray;
    width: 100px;
    height: 100px;
    margin-top: 1rem;
    margin: 1rem;
    margin-left: 2rem;
}

@media only screen and (min-width: 0) and (max-width: 960px) {

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }
}